In [7]:
a = 'I love the game'

a =

    'I love the game'

In [3]:
length(a)

ans =

    15

In [5]:
whos a

  Name      Size            Bytes  Class    Attributes

  a         1x15               30  char

In [8]:
double(a)

ans =

  Columns 1 through 13

    73    32   108   111   118   101    32   116   104   101    32   103    97

  Columns 14 through 15

   109   101

In [14]:
myStr = "This is myStr!"
myStr2 = "This is myStr2!"

catStr = strcat(myStr, myStr2)

myStr =

    "This is myStr!"


myStr2 =

    "This is myStr2!"


catStr =

    "This is myStr!This is myStr2!"

In [16]:
num = 1145.13
a = num2str(num)
b = str2num(a)

num =

                   1145.13


a =

    '1145.13'


b =

                   1145.13

In [26]:
str1 = 'Hello';
str2 = 'World';
result = char(str1, str2);
disp(result);

Hello
World

In [30]:
char('hello', 'world')

ans =

  2x5 char array

    'hello'
    'world'

In [31]:
X = [1 2 2 3 4 5 6 6 7 8 9];
edges = [0 2 4 6 8 10];

N = histc(X, edges)

N =

     1     3     2     3     2     0

In [1]:
X = [1 2 2 3 4 5 6 6 7 8 9 10];
edges = [0 2 4 6 8 10];

N = histc(X, edges)

N =

     1     3     2     3     2     1

In [7]:
A = "I love this game";
B = "So easy";
C = "emmm";

T = char([A, B, C])

  1x16x3 char array

T(:,:,1) =

    'I love this game'

T(:,:,2) =

    'So easy         '

T(:,:,3) =

    'emmm            '

In [10]:
S{1} = A;
S{2} = B;
S{3} = C;
disp(S)
celldisp(S)

    {["I love this game"]}    {["So easy"]}    {["emmm"]}


S{1} =

I love this game


S{2} =

So easy


S{3} =

emmm

In [2]:
arr = [
    [1, 2, 3],
    [4, 5, 6]
];
max(arr)

ans =

     4     5     6

In [7]:
S = {"1", 2, "3"}
S{1} = []
S(1) = []

S =

  1x3 cell array

    {["1"]}    {[2]}    {["3"]}


S =

  1x3 cell array

    {0x0 double}    {[2]}    {["3"]}


S =

  1x2 cell array

    {[2]}    {["3"]}

In [12]:
P = {'I', "am"};
Q = {'good', 'at'};
R = {"math"};

N={P, Q, R};
N{2}{2}
N{2}{2}(2)

ans =

    'at'


ans =

    't'

In [15]:
 C = {
    1, 2;
    "3", 4
 }

C =

  2x2 cell array

    {[  1]}    {[2]}
    {["3"]}    {[4]}

In [26]:
Alice = struct('name', 'Alice', 'age', 19, 'gender', 'female')

Alice =

  struct with fields:

      name: 'Alice'
       age: 19
    gender: 'female'

In [33]:
dir

.           .DS_Store   Q1.m        第一次上机
..          MATLAB学习资料  m.ipynb

In [30]:
pwd

ans =

    '/Users/pastrysweet/Documents/MATLAB'

In [34]:
ls

MATLAB学习资料		m.ipynb
Q1.m			第一次上机

In [39]:
student.name = 'Alice';
student.age = 21;
student.contact.phone = '123-456-7890';  
student.contact.email = 'alice@example.com';

student
student.contact

student =

  struct with fields:

       name: 'Alice'
        age: 21
    contact: [1x1 struct]


ans =

  struct with fields:

    phone: '123-456-7890'
    email: 'alice@example.com'

In [47]:
s = struct('type', {'big', 'small'}, 'color', {'red'}, "x", {3, 4})
s.type

s =

  1x2 struct array with fields:

    type
    color
    x


ans =

    'big'


ans =

    'small'

In [50]:
m = [
    [1, 2, 3];
    [2, 2, 3];
    [3, 2, 3]
]

triu(m)

m =

     1     2     3
     2     2     3
     3     2     3


ans =

     1     2     3
     0     2     3
     0     0     3